body {
    font-family: 'Montserrat', sans-serif;
}

#grid {
    margin: 0 auto;
    position: relative;
}

#grid .tile {
    display: inline-block;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    padding: 0;
    background-color: cadetblue;
    position: absolute;

}

.slide {
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.fresh {
    transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
    -moz-transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.25, 1.25);

    -moz-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;

}


