body {
    font-family: 'Montserrat', sans-serif;
}

#grid {
    margin: 0 auto;
    position: relative;
}

#grid .tile {
    display: inline-block;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    padding: 0;
    background-color: cadetblue;
    position: absolute;
    
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.animated {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


